.end-game-container {
    background-color: black;
    color: white;
    padding: 2% 5%;
    border-radius: 10px;
    position: absolute;
    top: 5%;
    /* left: 0%; */
    transform: translateX(50%);
    /* text-align: center; */
    z-index: 1;
}
