.letter-box {
    border-color: gray;
    font-size: 8vh;
    border-style: solid;
    width: 10vh;
    height: 10vh;
    text-align: center;
}

.green-letter-box {
    background-color: green;
}

.gray-letter-box {
    background-color: gray;
}

.yellow-letter-box {
    background-color: yellow;
}

.guess-background {
    position: relative;
    display: flex;
    column-gap: 10px;
}
