.letter-box {
    border: 2px solid gray;
    font-size: calc(var(--letter-box-size) - 1vw);
    width: var(--letter-box-size);
    height: var(--letter-box-size);
    text-align: center;
    animation: 0.5s appear;
    font-family: 'Merriweather', serif;
}

.green-letter-box {
    background-color: green;
}

.gray-letter-box {
    background-color: gray;
}

.yellow-letter-box {
    background-color: yellow;
}

.guess-background {
    position: relative;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    width: 100vw;
}

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 100; }
}
